<!-- Navigation -->
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/import">Import</a></li>
  </ul>
  <% if (userId){ %>
  <form method="POST" action="/logout">
    <button type="submit">Log Out</button>
  </form>
  <%} %>
  <img src="/Logo site.png" alt="logo" />
</nav>
