<!-- Navigation -->
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/import">Import</a></li>
  </ul>
  <img src="/Logo site.png" alt="logo" />
</nav>
