<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import Game</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
<%- include('partials/navbar') %>
    <h1>Import your chess games</h1>
    <form method="POST" action="/games">
    <label for="pgn">PGN:</label>
    <textarea id="pgn" name="pgn" placeholder="Paste your PGN to import your chess game"></textarea> 
    <button type="submit">Import Game</button>
    </form>
</body>
</html>