<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/navbar') %>
<div class="container">
    <h1>Login</h1>
    <p>please enter your email and password to access your account</p>
    <a href="/register">No account yet? Sign up</a>
    <form method="POST" action="/login">
    <div>
    <label for="email">email:</label>
    <input type= "email" id="email" name="email" placeholder="username@gmail.com">
    </div>
    <div>
    <label for="password">password:</label>
    <input type= "password" id="password" name="password">
    </div>
    <button type="submit">Sign In</button>
    </form>
</div> 
</body>
</html>