<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/navbar') %>
    <h1>Sign In</h1>
    <p>please enter your email and password to access your account</p>
    <a href="/register">No account yet? Sign up</a>
    <form method="POST" action="/login">
    <label for="email">email:</label>
    <label for="password">password</label>
    <input type= "email" id="email" name="email" placeholder="username@gmail.com">
    <input type= "password" id="password" name="password" placeholder="strong password">
    <button type="submit">Log in</button>
    </form>
</body>
</html>