<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/navbar') %>
    <h1>Sign Up</h1>
    <p>Create an account</p>
    <% if (error) { %>
        <p><%= error %></p>
    <%}%>
    <a href="/login">Already have an account? Sign in</a>
    <form method="POST" action="/register">
    <label for="email">email:</label>
    <label for="password">password</label>
    <input type= "email" id="email" name="email" placeholder="username@gmail.com">
    <input type= "password" id="password" name="password">
    <button type="submit">Sign Up</button>
    </form>
</body>
</html>