body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    color: #fff;
    overflow: visible;
    height: 60px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    position: relative; 
    box-sizing: border-box;
}
nav h1 {
    margin: 0;
    font-size: 24px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul li {
    margin: 0;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav img {
    height: 100px; s
    width: auto;
    max-width: none;
    margin-left:auto;
    position: absolute;
    right: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 50px;
    margin-bottom: auto;
}
h2 {
    font-size: 25px;
    margin-bottom: auto;
}  

form div {
    display: flex;
    flex-direction: column;
}

input{
    padding: 8px;
    margin-bottom: 12px;
}

@media (max-width: 768px) {
        button {
            display:block;
            margin: 0 auto;
            min-width: 150px;
            border-radius: 10px;
        }
}



@media (max-width: 480px) {
    h1 {
        font-size: 30px;
    }
      nav ul { flex-direction: column;
        gap: 10px;
      }
      nav {
        height: auto;
        padding: 10px;
      }
      nav img {
        height: 150px;
        position: absolute; right: 10px;
      }
    input {
        width: 100%;
        box-sizing: border-box;
    }
    button {
        width: 100%;
        border-radius: 10px;;
    }
}
